[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "uniset"]
	path = uniset
	url = https://github.com/bpollner/uniset
	shallow = true
	registered = true
